@model PropertyTypeViewModel

@{
    ViewBag.Title = "Add Room Type";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add property type</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1 align="center">Add property type</h1>

    <form asp-action="PropertyTypes" method="post">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label-add-edit">Property type name</label>
            <input asp-for="@Model.Name" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div align="justify" class="mb-3">
            <label asp-for="@Model.AccommodationTypeNameId">Accommodation type</label>
            <select asp-for="@Model.AccommodationTypeNameId" class="form-control" aria-required="true">
                @foreach (var accommodationType in Model.AccommodationTypeViewModels)
                {
                    <option value="@accommodationType.Id">@accommodationType.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add" />
        </div>
    </form>

    <ul>
        @foreach (var propertyType in Model.PropertyTypes)
        {
            <partial name="_PropertyTypePartial" model="@propertyType" />
        }
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>